body {
    padding-top: 80px;
}

svg {
    width: 100%;
    height: auto;
    max-height: 80vh;
}

.room {
    cursor: pointer;
    opacity: 0.6;
    fill: #B0197E;
    transition: 0.3s opacity;
}

.room:hover {
    opacity: 1;
}

nav .glyphicon {
    margin-right: 5px;
}

footer {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}