body {
    padding-top: 80px;
}

svg {
    width: 100%;
    height: auto;
    max-height: 80vh;
}

.room {
    cursor: pointer;
    opacity: 0.6;
    fill: #B0197E;
    transition: 0.3s opacity;
}

.room:hover {
    opacity: 1;
}

nav .glyphicon {
    margin-right: 5px;
}

footer {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.modal-header {
    padding: 2px 0;
    text-align: center;
    border-bottom: 1px solid #555;
}

.modal-header .close {
    padding: 5px 10px;
    font-size: 25px;
    color: #B0197E;
    outline: none;
}

.modal-header h4 {
    font-weight: bolder;
    margin-left: 30px;
}

.modal-body p {
    font-size: 16px;
    padding-top: 10px;
    text-align: center;
}/