<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CSH Map</title>
    <link href="../static/css/csh-material-bootstrap.css" rel="stylesheet">
    <link href="../static/css/styles.css" rel="stylesheet">
</head>

<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Map</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input id="search" type="text" class="form-control" placeholder="Search" data-placement="bottom" data-content="">
                    </div>
                    <button id="search-button" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown navbar-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <img src="https://profiles.csh.rit.edu/image/{{ username }}">
                            {{ display_name }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="https://profiles.csh.rit.edu/user/{{ username }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="https://members.csh.rit.edu/"><span class="glyphicon glyphicon-globe"></span> Members Portal</a></li>
                            <li><a href="https://github.com/RamZallan/csh-map/issues"><span class="glyphicon glyphicon-exclamation-sign"></span> Report an Issue</a></li>
                            <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="modal fade" id="map-modal" role="dialog" tabindex="-1" aria-labelledby="residents-modal-label" style="display: none;">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="residents-modal-label"></h4> </div>
                <div class="modal-body">Loading...</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2" id="legend">
                <div id="legend-buildings">
                    <div id="legend-nrh">Nathaniel Rochester Hall</div>
                    <div id="legend-fish">Helen Fish Hall</div>
                </div>
                <div class="legend-types">
                    <div id="legend-bathrooms">Bathrooms</div>
                    <div id="legend-staircases">Stairs/Elevators</div>
                    <div id="legend-special">Special Rooms</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-8 col-lg-offset-2" id="map-container">
                <svg id="floorplan" xmlns="http://www.w3.org/2000/svg" viewBox="1464 -458 2772.3 2559">
                    <g id="southSide">
                        <path id="nrh-3-3121" class="room bathroom" data-toggle="modal" data-target="#map-modal" d="M1620.3 1136v111h93v-145h-36v34z" />
                        <path id="nrh-3-3111" class="room" data-toggle="modal" data-target="#map-modal" d="M1850.3 1028h119v219h-119z" />
                        <path id="nrh-3-3107" class="room" data-toggle="modal" data-target="#map-modal" d="M1978.3 1028h119v219h-119z" />
                        <path id="nrh-3-3103" class="room" data-toggle="modal" data-target="#map-modal" d="M2106.3 1028h119v219h-119z" />
                        <path id="nrh-3-3099" class="room" data-toggle="modal" data-target="#map-modal" d="M2234.3 1028h119v219h-119z" />
                        <path id="nrh-3-3095" class="room" data-toggle="modal" data-target="#map-modal" d="M2362.3 1028h119v219h-119z" />
                        <path id="nrh-3-3091" class="room" data-toggle="modal" data-target="#map-modal" d="M2490.3 1028h119v219h-119z" />
                        <path id="nrh-3-3087" class="room bathroom" data-toggle="modal" data-target="#map-modal" d="M2618.3 1028h119v219h-119z" />
                        <path id="nrh-3-3086" class="room" data-toggle="modal" data-target="#map-modal" d="M2618.3 736h119v219h-119z" />
                        <path id="nrh-3-3090" class="room" data-toggle="modal" data-target="#map-modal" d="M2490.3 736h119v219h-119z" />
                        <path id="nrh-3-3094" class="room" data-toggle="modal" data-target="#map-modal" d="M2362.3 736h119v219h-119z" />
                        <path id="nrh-3-3098" class="room special" data-toggle="modal" data-target="#map-modal" d="M2106.3 736h247v219h-247z" />
                        <path id="nrh-3-3110" class="room" data-toggle="modal" data-target="#map-modal" d="M1850.3 736h119v219h-119z" />
                        <path id="nrh-3-3106" class="room" data-toggle="modal" data-target="#map-modal" d="M1978.3 736h119v219h-119z" />
                        <path id="nrh-3-3115" class="room bathroom" data-toggle="modal" data-target="#map-modal" d="M1722.3 1028h119v219h-119z" />
                        <path id="nrh-3-3962" class="room staircase" data-toggle="modal" data-target="#map-modal" d="M1722.3 736h119v219h-119z" />
                        <path id="nrh-3-3125" class="room" data-toggle="modal" data-target="#map-modal" d="M1464 1083.3h147.3v164H1464z" />
                        <path id="nrh-3-3126" class="room" data-toggle="modal" data-target="#map-modal" d="M1464 909.3h147.3v164H1464z" />
                        <path id="nrh-3-3124" class="room special" data-toggle="modal" data-target="#map-modal" d="M1464 736h147.3v164H1464z" />
                        <path id="nrh-3-3120" class="room special" data-toggle="modal" data-target="#map-modal" d="M1620.3 736h93v73h-93z" />
                    </g>
                    <g id="lobby">
                        <path id="nrh-3-3082" class="room special" data-toggle="modal" data-target="#map-modal" d="M2863.3 862V736h-117v207h68v-81z" />
                        <path id="nrh-3-3078" class="room special" data-toggle="modal" data-target="#map-modal" d="M2918.8 862v81h68V736h-117v126z" />
                        <path id="nrh-3-3950-1" class="room staircase" data-toggle="modal" data-target="#map-modal" d="M2788.8 1160.7h70v70h-70z" />
                        <path id="nrh-3-3950-2" class="room staircase" data-toggle="modal" data-target="#map-modal" d="M2867.8 1160.7h70v70h-70z" />
                        <path id="nrh-3-3080" class="room special" data-toggle="modal" data-target="#map-modal" d="M2823.3 873h87.3v70h-87.3z" />
                    </g>
                    <g id="northSide">
                        <path id="nrh-3-3074" class="room" data-toggle="modal" data-target="#map-modal" d="M2995.8 736h119v219h-119z" />
                        <path id="nrh-3-3070" class="room" data-toggle="modal" data-target="#map-modal" d="M3123.8 736h119v219h-119z" />
                        <path id="nrh-3-3066" class="room" data-toggle="modal" data-target="#map-modal" d="M3251.8 736h119v219h-119z" />
                        <path id="nrh-3-3058" class="room special" data-toggle="modal" data-target="#map-modal" d="M3379.8 736h247v219h-247z" />
                        <path id="nrh-3-3054" class="room" data-toggle="modal" data-target="#map-modal" d="M3635.8 736h119v219h-119z" />
                        <path id="nrh-3-3050" class="room" data-toggle="modal" data-target="#map-modal" d="M3763.8 736h119v219h-119z" />
                        <path id="nrh-3-3961" class="room staircase" data-toggle="modal" data-target="#map-modal" d="M3891.8 736h119v219h-119z" />
                        <path id="nrh-3-3071" class="room" data-toggle="modal" data-target="#map-modal" d="M3123.8 1028h119v219h-119z" />
                        <path id="nrh-3-3067" class="room" data-toggle="modal" data-target="#map-modal" d="M3251.8 1028h119v219h-119z" />
                        <path id="nrh-3-3063" class="room" data-toggle="modal" data-target="#map-modal" d="M3379.8 1028h119v219h-119z" />
                        <path id="nrh-3-3075" class="room bathroom" data-toggle="modal" data-target="#map-modal" d="M2995.8 1028h119v219h-119z" />
                        <path id="nrh-3-3059" class="room" data-toggle="modal" data-target="#map-modal" d="M3507.8 1028h119v219h-119z" />
                        <path id="nrh-3-3055" class="room" data-toggle="modal" data-target="#map-modal" d="M3635.8 1028h119v219h-119z" />
                        <path id="nrh-3-3051" class="room" data-toggle="modal" data-target="#map-modal" d="M3763.8 1028h119v219h-119z" />
                        <path id="nrh-3-3047" class="room bathroom" data-toggle="modal" data-target="#map-modal" d="M3891.8 1028h119v219h-119z" />
                        <path id="nrh-3-3048" class="room special" data-toggle="modal" data-target="#map-modal" d="M4083.8 736h152.5v165h-152.5z" />
                        <path id="nrh-3-3034" class="room special" data-toggle="modal" data-target="#map-modal" d="M4083.8 901h153v174h-153z" />
                        <path id="nrh-3-3028" class="room special" data-toggle="modal" data-target="#map-modal" d="M4083.8 1170h153v77h-153z" />
                        <path id="nrh-3-3032" class="room special" data-toggle="modal" data-target="#map-modal" d="M4083.8 1084h153v77h-153z" />
                    </g>
                    <g id="theL">
                        <path id="nrh-3-3024" class="room" data-toggle="modal" data-target="#map-modal" d="M4083.8 1260h153v161h-153z" />
                        <path id="nrh-3-3020" class="room" data-toggle="modal" data-target="#map-modal" d="M4083.8 1430h153v161h-153z" />
                        <path id="nrh-3-3016" class="room" data-toggle="modal" data-target="#map-modal" d="M4083.8 1600h153v161h-153z" />
                        <path id="nrh-3-3012" class="room special" data-toggle="modal" data-target="#map-modal" d="M4083.8 1770h153v161h-153z" />
                        <path id="nrh-3-3025" class="room bathroom" data-toggle="modal" data-target="#map-modal" d="M3857.8 1260h153v161h-153z" />
                        <path id="nrh-3-3021" class="room special" data-toggle="modal" data-target="#map-modal" d="M3857.8 1430h153v161h-153z" />
                        <path id="nrh-3-3017" class="room special" data-toggle="modal" data-target="#map-modal" d="M3857.8 1600h153v161h-153z" />
                        <path id="nrh-3-3013" class="room" data-toggle="modal" data-target="#map-modal" d="M3857.8 1770h153v161h-153z" />
                        <path id="nrh-3-3009" class="room" data-toggle="modal" data-target="#map-modal" d="M3857.8 1940h153v161h-153z" />
                        <path id="nrh-3-3960" class="room staircase" data-toggle="modal" data-target="#map-modal" d="M4109.8 1940h127v161h-127z" />
                        <path id="nrh-3-3008" class="room special" data-toggle="modal" data-target="#map-modal" d="M4019.8 2042h82.5v59h-82.5z" />
                    </g>
                    <g id="fish">
                        <path id="fish-3-3000" class="room" data-toggle="modal" data-target="#map-modal" d="M4083.8 562h153v161h-153z" />
                        <path id="fish-3-3001" class="room" data-toggle="modal" data-target="#map-modal" d="M3857.8 562h153v161h-153z" />
                        <path id="fish-3-3004" class="room" data-toggle="modal" data-target="#map-modal" d="M4083.8 392h153v161h-153z" />
                        <path id="fish-3-3008" class="room" data-toggle="modal" data-target="#map-modal" d="M4083.8 222h153v161h-153z" />
                        <path id="fish-3-3961" class="room staircase" data-toggle="modal" data-target="#map-modal" d="M3857.8 392h153v161h-153z" />
                        <path id="fish-3-3011" class="room" data-toggle="modal" data-target="#map-modal" d="M3857.8 222h153v161h-153z" />
                        <path id="fish-3-3017" class="room" data-toggle="modal" data-target="#map-modal" d="M3857.8 52h153v161h-153z" />
                        <path id="fish-3-3021" class="room" data-toggle="modal" data-target="#map-modal" d="M3857.8-118h153V43h-153z" />
                        <path id="fish-3-3045" class="room" data-toggle="modal" data-target="#map-modal" d="M3857.8-288h153v161h-153z" />
                        <path id="fish-3-3018" class="room bathroom" data-toggle="modal" data-target="#map-modal" d="M4083.8-1h153v214h-153z" />
                        <path id="fish-3-3023" class="room bathroom" data-toggle="modal" data-target="#map-modal" d="M4083.8-288h153v214h-153z" />
                        <path id="fish-3-3049" class="room" data-toggle="modal" data-target="#map-modal" d="M3857.8-458h153v161h-153z" />
                        <path id="fish-3-3048" class="room" data-toggle="modal" data-target="#map-modal" d="M4083.8-458h153v161h-153z" />
                    </g>
                </svg>

            </div>
        </div>
        {% if config['PLUG_SUPPORT'] %}
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2" id="legend">
                <a href="https://plug.csh.rit.edu">
                    <img src="https://plug.csh.rit.edu/data" alt="CSH Plug">
                </a>
            </div>
        </div>
        {% endif %}
        <footer>Ram - <a href="http://github.com/ramzallan/csh-map">Map</a>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/scripts.js"></script>
</body>

</html>
